.MovieDetails {
    left: 130px;
    top: 32px;
    width: 82%;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 132px;
}

.arrowBack {
    width: 24px;
    height: 24px;
    left: 0px;
    margin-top: 32px;
}

.durationYearRate {
    margin-top: 12.5px;
    margin-bottom: 4px;
    display: flex;
    max-width: 250px;
    flex-direction: row;
    align-items: center;
 }

 .durationYear {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.217647px;

    color: #7A8C99;
} 

.title {
    max-width: 100%;
    min-height: 88px;
    left: 0px;
    top: 32px;
    margin:0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
/* or 110% */

    letter-spacing: 0.870588px;

    color: #FFFFFF;
}

.det {
    max-width: 50%;
}

.ratings {
    left: 0;
    margin-top: 32px;
    width: 419px;
    max-width: 100%;
    height: 40px;
    display: flex;
    gap: 0 16px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.poster {
    right: 0px;
    box-shadow: 0px 4px 30px rgba(5, 10, 13, 0.6);
    display: inline;
    min-width: 40%;
    height: 640px;
    border-radius: 8px;
}

.plot {
    width: 480px;
    max-width: 100%;
    min-height: 128px;    
}

.cgd {
    display: flex;
    flex-direction: row;
    gap: 0 56px;
    max-width: 100%;
    min-height: 128px;
}

.box {
    position: relative;
    flex-direction: row;
    display: flex;
    column-gap: 12px;
    justify-content: space-evenly;
    @media only screen and (max-width: 1024px) {
      padding: 4rem 0 4rem;
    }
}

.details {
    display: inline;
    flex-direction: column;
    position: relative;
    max-width: 50%;
  
    @media only screen and (max-width: 575px) {
      padding-top: 4rem;
    }
}

.element {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.174118px;

    color: #FFFFFF;
}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.174118px;

    color: #7A8C99;
    margin-bottom: -8px;
}

.valuation {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
}

.favourite {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 800px){
.box{
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-between;
    align-content: stretch;
    align-items:center;
}
.det{
    max-width: 100%;
}
.ratings{
    max-width: 100%;
}
.plot{
    margin-bottom: -15px;
}
.title{
    width: 100%;
    font-size:3em;
}
.poster{
    min-width: 480px;
}
}

@media screen and (min-width: 1330px){
    .det{
        max-width: 50%;
    }
    .ratings{
        width: 100%;
    }
    .plot{
        width:100%
    }
    .title{
        width: 100%;
    }
    .cgd{
        width: 100%;
    }
    .poster{
        min-width: 50%;
    }
    }